@import "@/custom-components/index.scss";
@import "@/styles/mixins.scss";

$currentClass: common-text;

:global {
  :local(.container) {
    &.#{$prefixCls}-#{$currentClass} {
      &-pc {
        width: fit-content;
        height: fit-content;
        display: flex;
        flex-direction: column;
        min-height: 40px;
        max-width: 100%;
        position: relative;
        // max-width: 660px;
        // flex: 1;
        .answer {
          // background: #ffffff;
          @include session-bubble-style("bot");
          box-shadow: 0px 2px 6px 0px #0000000f;
          // border-radius: 4px;
          padding: 8px 16px;
          // line-height: 24px;
          white-space: pre-line;
          pointer-events: none;
          .source-wrapper {
            display: flex;
            justify-content: flex-end;
            .source {
              display: flex;
              padding: 0 8px;
              color: #969799;
            }
          }
          img {
            max-width: 100%;
          }
        }
        .pause-text {
          color: #9195a1;
          margin-top: 6px;
        }
        .stop {
          padding-bottom: 30px;
        }
        .blue {
          color: #4068d4;
          padding-bottom: 30px;
        }
        .nexus-video-player {
          max-width: 500px;
        }
        .nexus-audio-play {
          max-width: 300px;
        }
      }
      &-mobile {
        width: 100%;
        height: fit-content;
        display: flex;
        flex: 1;
        position: relative;
        flex-direction: column;
        .answer {
          flex: 1;
          // background: #fff;
          @include session-bubble-style-mobile("bot");
          box-shadow: 0 0.01rem 0.06rem 0 #0000000f;
          padding: 0.24rem;
          // border-radius: 0.16rem;
          // font-size: 0.24rem;
          // line-height: 0.3rem;
          // margin-bottom: 0.1rem;
          white-space: pre-line;
          pointer-events: none;
          .source-wrapper {
            display: flex;
            justify-content: flex-end;
            .source {
              display: flex;
              padding: 0 0.08rem;
              color: #969799;
            }
          }
          img {
            max-width: 100%;
          }
        }
        .pause-text {
          color: #9195a1;
          margin-top: 0.1rem;
        }
        .stop {
          padding-bottom: 0.24rem;
        }
        .blue {
          color: #4068d4;
          padding-bottom: 0.6rem;
        }
        .nexus-video-player {
          max-width: 100%;
        }
        .nexus-audio-play {
          max-width: 100%;
        }
      }
    }
    &.hide {
      // display: none;
      &.#{$prefixCls}-#{$currentClass} {
        &-pc {
          .answer {
            font-style: italic;
            @include session-bubble-style("bot");
            // font-size: 12px;
            // background: transparent;
          }
        }
        &-mobile {
          .answer {
            font-style: italic;
            @include session-bubble-style-mobile("bot");
            // font-size: 0.2rem;
            // background: transparent;
          }
        }
      }
      &.hide-summary {
        display: none;
        .answer {
          visibility: hidden !important;
        }
      }
    }
    &.show {
      &.hide-summary {
        display: none;
        .answer {
          visibility: hidden !important;
        }
      }
    }
  }
  .custom-table {
    width: 100%;
    border-collapse: collapse;
  }
  .custom-table th,
  .custom-table td {
    border: 1px solid #ddd;
    padding: 8px;
  }
  .custom-table th {
    background-color: #f2f2f2;
    text-align: left;
  }
  .katex-html[aria-hidden="true"] {
    display: none;
  }
}
